---
import { wpquery } from "../../graphql/wordPressQuery";
import Hero from "../../components/Hero.astro";
import { formatDate } from "../../utils/functions";
import BlogLayout from "../../layouts/BlogLayout.astro";

interface FeaturedImageNode {
  mediaItemUrl: string;
  srcSet: string;
  sizes: string;
  altText: string;
}

interface FeaturedImage {
  node: FeaturedImageNode;
}

// Interface para el autor
interface AuthorNode {
  name: string;
}

interface Author {
  node: AuthorNode;
}

// Interface para el post
interface PostNode {
  slug: string;
  date: string;
  title: string;
  content: string;
  excerpt: string;
  author: Author;
  featuredImage: FeaturedImage;
}

// Interface para el contenedor de nodos de posts
interface Posts {
  nodes: PostNode[];
}

// Interface para la respuesta principal
interface GraphQLResponse {
  posts: Posts;
}

export async function getStaticPaths() {
  try {
    const data = await wpquery({
      query: `
        {
          posts {
            nodes {
              slug
              date
              title
              content(format: RENDERED)
              excerpt
              author {
                node {
                  name
                }
              }
              featuredImage {
                node {
                  mediaItemUrl
                  srcSet
                  sizes
                  altText
                }
              }
            }
          }
        }
      `,
    });

    const typeData = data as GraphQLResponse;

    return typeData.posts.nodes.map((post: any) => {
      return {
        params: { slug: post.slug },
        props: { post },
      };
    });
  } catch (error) {
    console.error("Error al obtener los slugs:", error);
    return {
      params: [],
      fallback: false,
    };
  }
}

const { post } = Astro.props;
---

<BlogLayout>
  <div class="blog-hero" slot="hero">
    <Hero
      title1={post.title}
      haveButtons={false}
      url={post.featuredImage.node.mediaItemUrl}
    />
  </div>
  <div slot="content" class="blog-details-wrap">
    <div class="details__content pb-30">
      <div class="meta-info">
        <ul>
          <li>
            <i class="fal fa-eye"></i> 100 Views
          </li>
          <li>
            <i class="fal fa-calendar-alt"></i>
            {formatDate(post.date)}
          </li>
        </ul>
      </div>
      <Fragment set:html={post.content} />
      <div class="row">
        <!-- <div class="col-xl-12 col-md-12">
          <div class="post__tag">
            <h5>Releted Tags</h5>
            <ul>
              <li>
                <a href="#">organic</a>
              </li>
              <li>
                <a href="#">Foods</a>
              </li>
              <li>
                <a href="#">tasty</a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      </div>
      <!-- <div class="posts_navigation pt-35 pb-35">
      <div class="row align-items-center">
        <div class="col-xl-4 col-md-5">
          <div class="prev-link">
            <span>Prev Post</span>
            <h4>
              <a href="#">Tips Minimalist</a>
            </h4>
          </div>
        </div>
        <div class="col-xl-4 col-md-2 text-left text-md-center">
          <a href="blog.html" class="blog-filter">
            <img src="img/icon/c_d01.png" alt="" />
          </a>
        </div>
        <div class="col-xl-4 col-md-5">
          <div class="next-link text-left text-md-right">
            <span>next Post</span>
            <h4>
              <a href="#">Less Is More</a>
            </h4>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</BlogLayout>
