---
import logo from "../../public/images/logoasisfooter-1@2x.png";

const navItems = [
  {
    title: "Inicio",
    path: "/",
  },
  { title: "Nosotros", path: "/nosotros" },
  { title: "Contacto", path: "/contacto" },
  {
    title: "Servicios",
    path: "/",
    subItems: [
      { title: "Area comercial", path: "/servicios/area-comercial" },
      { title: "Area laboral", path: "/servicios/area-laboral" },
      { title: "Area civil", path: "/servicios/area-civil" },
      { title: "Area administrativa", path: "/servicios/area-administrativa" },
    ],
  },
  { title: "Blog", path: "/blog" },
];
---

<footer class="bg1">
  <div class="section">
    <div class="footer__container">
      <div class="footer__item">
        <img class="logo-asis-footer-1-icon" alt="" src={logo.src} />
      </div>
      <div class="footer__item footer__item-left">
        <h3 class="footer__title">Menú</h3>
        <ul id="nav" class="footer__nav">
          {
            navItems.map((item, index) => (
              <li class="footer__nav-item" id={`item-${index}`}>
                <a href={item.path}>{item.title} </a>
                {item.subItems && (
                  <ul id={`submenu-${index}`} class="footer__nav-sub">
                    {item.subItems.map((subitem) => (
                      <li>
                        <a href={subitem.path}>{subitem.title}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </div>
      <div class="footer__item footer__item-left">
        <h3 class="footer__title">Contáctenos</h3>
        <ul class="footer__contact">
          <li class="footer__contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>
              Carrera 49 No 50 - 30 Oficina 505<br /> Edif. Lucrecio Velez - Medellín
            </p>
          </li>
          <li class="footer__contact-item">
            <i class="fas fa-phone-alt"></i>
            <p>312 298 63 69</p>
          </li>
          <li class="footer__contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>Calle 17 No. 3 - 37 Oficina 110<br />La Dorada - Caldas</p>
          </li>
          <li class="footer__contact-item">
            <i class="fas fa-phone-alt"></i>
            <p>57 - 606 - 8370807</p>
          </li>
          <li class="footer__contact-item">
            <i class="fas fa-envelope"></i>
            <a href="mailto:asisjuridica19@gmail.com"
              >asisjuridica19@gmail.com</a
            >
          </li>
        </ul>
        <div class="socmed">
          <a
            href="https://www.facebook.com/asisju"
            target="_blank"
            class="icon4"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/asisjuridicasas/"
            target="_blank"
            class="icon4"
          >
            <i class="fab fa-instagram"></i>
          </a>

          <!-- <div class="icon4">
          <i class="fab fa-linkedin-in"></i>
        </div> -->
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="border"></div>
      <a href="https://suwwweb.com/" target="_blank" class="attorni-all-rights"
        >hecho por <img src="/images/suwwweb.png" alt="suweb" /></a
      >
      <div class="border1"></div>
    </div>
  </div>
  <div class="footer__whatsapp glow-button">
    <a href="https://wa.me/573122986369" target="_blank">
      <img src="/images/w-float.png" alt="hablemos por whatsapp" />
    </a>
  </div>
</footer>
